.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea

# Editor directories and files
*.map
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
src/views/service-tree/detail-components/count/-device-utilization.vue
config/index.js

# for safe
src/app/ormconfig.json